 <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/style.css">
                            <a class="back" href="javascript:history.back(-1)"><返回</a>
                            <!-- 基本信息 -->
                            <div class="h35 clearfix">
                                <span class="tit">列表</span>
                                <span class="hid">隐藏&nbsp;<i class="fa fa-caret-down"></i></span>
                            </div>
                             <volist name = "data" id = 'v'>
                                <div class="blank10"></div>
                                <!-- 一列是一个ul -->
                                <div class="reslist">
                                <ul>
                                   <li  class="clearfix">
                                        <span class="t1"> {$v["a0101"]}:</span>
                                        <span class="t2"> {$v["data"]} </span>
                                        <span class="t3">{$y}</span>
                                        <span class="t4">{$x}</span>
                                        <span class="t5">{$v['a0109']}</span>
                                        <span class="t6">{$v['e0132']}</span>
                                         <a href="{:U('User/personinfo',array('a0100'=>$v['a0100']))}">详情</a>
                                    </li>
                                </ul>
                                </div>

                            </volist>
                        
                           

<style type="text/css">

</style>       
<script src="__PUBLIC__/static/script/jquery.1.11.1.js"></script>
