<link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/easyui/1.3.4/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/css/icon.css" />
<script type="text/javascript" src="__PUBLIC__/easyui/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/easyui/easyui/1.3.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/easyui/easyui/1.3.4/locale/easyui-lang-zh_CN.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/release/jeasyui.extensions.all.min.js"></script> -->
<style type="text/css">
	.panel-body {
    padding: 0px;
}
</style>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center',border:false">
       <!--  <div id="wu-toolbar">
            <div class="wu-toolbar-button">
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openAdd()" plain="true">添加</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="openEdit()" plain="true">修改</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="remove()" plain="true">删除</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="reload()" plain="true">刷新</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-print" onclick="exportA()" plain="true">导出任免表</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-print" onclick="exportB()" plain="true">导出专项审核表</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-print" onclick="exportC()" plain="true">导出花名册</a>
             
                <label>姓名：</label><input class="wu-text" style="width:100px" id = 'name'>
                <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchname()">开始检索</a>
            </div>
           
        </div> -->
        <table id="wu-datagrid" toolbar="#wu-toolbar"></table>
    </div>
</div>

<div id="wu-dialog"></div>
 





<script type="text/javascript">
	/**
	* Name 载入数据
	*/
	//创建时间格式化显示
	/**************************************时间格式化处理************************************/
	function dateFtt(fmt,date)   
	{ //author: meizz   
	  var o = {   
	    "M+" : date.getMonth()+1,                 //月份   
	    "d+" : date.getDate(),                    //日   
	    "h+" : date.getHours(),                   //小时   
	    "m+" : date.getMinutes(),                 //分   
	    "s+" : date.getSeconds(),                 //秒   
	    "q+" : Math.floor((date.getMonth()+3)/3), //季度   
	    "S"  : date.getMilliseconds()             //毫秒   
	  };   
	  if(/(y+)/.test(fmt))   
	    fmt=fmt.replace(RegExp.$1, (date.getFullYear()+"").substr(4 - RegExp.$1.length));   
	  for(var k in o)   
	    if(new RegExp("("+ k +")").test(fmt))   
	  fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));   
	  return fmt;   
	} 

	function crtTimeFtt(value,row,index){
		if(value != null){
		    var crtTime = new Date(value);
		    return dateFtt("yyyy.MM",crtTime);//直接调用公共JS里面的时间类处理的办法  
	    }   
	}

	$(function () {
		var t = $('#wu-datagrid').datagrid({
			url:'{:U("Date/ezjlist")}',
			rownumbers:true,
			width: 1000,
			singleSelect:false,
			pageSize:20,
			pageNumber:1,           
			pagination:true,
			multiSort:true,
			singleSelect:true,
			// fitColumns:true,
			fit:true,
			loadMsg: '正在查询，请稍后...',
			queryParams: {
				 name: '{$name}'
			},
			onDblClickRow:function (index, row) {
				//alert(index);
				 openShow(row.a0100);
			},
			frozenColumns: [[
	                { field: 'a0101', title:'姓名',width:50,sortable:true },
	                // { field: 'ID', title: 'ID', width: 80, sortable: true }
	            ]],
			columns:[[
				// { checkbox:true},
				{
	                    field: 'a0107',
	                    title: '性别',
	                    width: 30,
	                    formatter: function(value,row,index){
	                    	if(value == 1){
	                    		return '男';
	                    	}else{
	                    		return '女';
	                    	}
	                        
	                    }
	            },
	            { field:'a0111',title:'出生年月',width:60,formatter:crtTimeFtt},
				{ field:'a0126',title:'健康状况',width:60},
				{ field:'a0173',title:'身份证号',width:150},
				{ field:'mz',title:'民族',width:50},
				{ field:'a0109',title:'籍贯',width:60},
				{ field:'zz',title:'政治面貌',width:60
				},
				{ field:'e0121',title:'入党时间',width:60,formatter:crtTimeFtt},
				{ field:'e0131',title:'最高职务层次',width:80},
				{ field:'e0132',title:'工作单位及职务',width:250},
				{ field:'e0136',title:'最高全日制学历',width:80},
				{ field:'e0138',title:'最高全日制学位',width:80},
				{ field:'e0140',title:'最高在职学历',width:80},
				{ field:'e0143',title:'最高在职学位',width:80},
				{ field:'e0145',title:'最高学历',width:50},
				{ field:'e0134',title:'专业技术职务',width:50},
				{ field:'a0100',title:'查看详情',width:150,
					formatter: function(value,row,index){
	                    	return "<button onclick= 'openShow(\""+value+"\")'>查看</button><button onclick= 'fenxi(\""+value+"\")'>分析</button>"
	                        
	                    }
				}
			]],
			headerContextMenu: [
                {
                    text: "冻结该列", disabled: function (e, field) { return t.datagrid("getColumnFields", true).contains(field); },
                    handler: function (e, field) { t.datagrid("freezeColumn", field); }
                },
                {
                    text: "取消冻结该列", disabled: function (e, field) { return t.datagrid("getColumnFields", false).contains(field); },
                    handler: function (e, field) { t.datagrid("unfreezeColumn", field); }
                }
            ],
			enableHeaderClickMenu: true,
            enableHeaderContextMenu: true,
            enableRowContextMenu: false
		});

	});
	

</script>

<!-- 个人信息弹窗 -->
<script type="text/javascript">
	function openShow(value){
  		showMessageDialog('{:U("User/epersoninfo")}'+'/a0100/'+value,'详细信息',900,500,true);
	}
	function fenxi(value) {
		// body...
		showBigMessageDialog('{:U("User/epersoninfo")}'+'/a0100/'+value,'详细信息',900,500,true);
	}
	//url：窗口调用地址，title：窗口标题，width：宽度，height：高度，shadow：是否显示背景阴影罩层
	function showMessageDialog(url, title, width, height, shadow) {
	    var content = '<iframe src="' + url + '" width="100%" height="99%" frameborder="0" scrolling="no"></iframe>';
	    var boarddiv = '<div id="msgwindow" title="' + title + '"></div>'
	    //style="overflow:hidden;"可以去掉滚动条
	    $(document.body).append(boarddiv);
	    var win = $('#msgwindow').dialog({
	        content: content,
	        width: width,
	        height: height,
	        modal: shadow,
	        title: title,
	        closable:true,    
            collapsible:true,
            // minimizable:true,
            // maximizable:true,
	        onClose: function () {
	            $(this).dialog('destroy');//后面可以关闭后的事件
	        }
	    });
	    win.dialog('open');
	}
	function showBigMessageDialog(url, title, width, height, shadow) {
	    var content = '<iframe src="' + url + '" width="100%" height="99%" frameborder="0" scrolling="no"></iframe>';
	    var boarddiv = '<div id="msgwindow" title="' + title + '"></div>'
	    //style="overflow:hidden;"可以去掉滚动条
	    $(document.body).append(boarddiv);
	    var win = $('#msgwindow').dialog({
	        content: content,
	        width: width,
	        height: height,
	        modal: shadow,
	        title: title,
	        closable:true,    
            collapsible:true,
            minimizable:true,
            maximizable:true,
	        onClose: function () {
	            $(this).dialog('destroy');//后面可以关闭后的事件
	        }
	    });
	    win.dialog('open');
	}
	
</script>

<!-- End of easyui-dialog -->
<script type="text/javascript">
	function searchname(){
		var name = $('#name').val();
		$('#wu-datagrid').datagrid('load', { 
			b0100: '{$b0100}',   
		    name: name  
		}); 
	}
	function reload(){
		$('#wu-datagrid').datagrid('load', { 
			b0100: '{$b0100}'  
		});
		//$('#wu-datagrid').datagrid('reload');
	}
	/**
	* Name 打开添加窗口
	*/
	function openAdd(){
		 a0100 = localStorage.setItem("a0100",'');
		showMessageDialog('{:U("User/eaddnew")}','新增',900,520,true);
	}

	/**
	* Name 添加记录
	*/
	function add(){
		$('#wu-form').form('submit', {
			url:'',
			success:function(data){
				if(data){
					$.messager.alert('信息提示','提交成功！','info');
					$('#wu-dialog').dialog('close');
				}
				else
				{
					$.messager.alert('信息提示','提交失败！','info');
				}
			}
		});
	}
	
	/**
	* Name 修改记录
	*/
	function edit(){
		$('#wu-form').form('submit', {
			url:'',
			success:function(data){
				if(data){
					$.messager.alert('信息提示','提交成功！','info');
					$('#wu-dialog').dialog('close');
				}
				else
				{
					$.messager.alert('信息提示','提交失败！','info');
				}
			}
		});
	}
	
	/**
	* Name 删除记录
	*/
	function remove(){

		$('#wu-form').form('clear');
		var item = $('#wu-datagrid').datagrid('getSelected');
		if(item){
			 a0100 =item.a0100;
			 index =item.row_number -1;
			 url = '{:U("User/dellUser")}'+'/a0100/'+a0100;

			 $.messager.confirm('信息提示','确定要删除该记录？', function(result){
				if(result){
				
					$.ajax({
						url: url,
						data:{a0100:a0100},
						success:function(data){
							if(data){
								  $('#wu-datagrid').datagrid('deleteRow',index)
								$.messager.alert('信息提示','删除成功！','info');		
							}
							else
							{
								$.messager.alert('信息提示','删除失败！','info');		
							}
						}	
					});
				}	
			});


		}else{
			$.messager.alert('信息提示','请选择','info');	
		}


		
	}
	
	
	
	/**
	* Name 打开修改窗口
	*/
	function openEdit(){
		$('#wu-form').form('clear');
		var item = $('#wu-datagrid').datagrid('getSelected');
		if(item){
			 localStorage.setItem("a0100",item.a0100);
			  a0100 =item.a0100;
			 url = '{:U("User/eedit")}'+'/a0100/'+a0100;
			showMessageDialog( url,'编辑',900,520,true);
		}else{
			$.messager.alert('信息提示','请选择','info');	
		}
			
			
		}	
	
	function exportA() {
		// body...
		b0100 = '{$b0100}';
		$('#wu-form').form('clear');
		var item = $('#wu-datagrid').datagrid('getSelected');
			 a0100 =item.a0100;
			 index =item.row_number;
			types = 'A001';
			persontype='A001';
		if(a0100 == null){
          $.messager.alert('Info', '请选择后操作', 'info');
        }else{
            window.open( "{:U('User/mb')}" + "/a0100/"+a0100+"/types/"+types+"/persontype/"+persontype) ;
                       　
        }
	}
	function exportB() {
		// body...
		b0100 = '{$b0100}';
		$('#wu-form').form('clear');
		var item = $('#wu-datagrid').datagrid('getSelected');
			 a0100 =item.a0100;
			 index =item.row_number;
			 types = 'A001';
			 persontype='A001';
		if(a0100 == null){
          $.messager.alert('Info', '请选择后操作', 'info');
        }else{
            window.open( "{:U('User/mbsp')}" + "/a0100/"+a0100+"/types/"+types+"/persontype/"+persontype) ;
                       　
        }
	}
	function exportC() {
		// body...
		b0100 = '{$b0100}';
		types = '2';
		persontype='A001';
		if(b0100 == null){
          $.messager.alert('Info', '请选择后操作', 'info');
        }else{
           window.open( "{:U('User/importPersonlist')}" + "/b0100/"+b0100+"/types/"+types+"/persontype/"+persontype) ;
                       　
        }
	}
	
	
</script>