<!DOCTYPe html>
<html lang="zh-CN">
<!-- 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-Ua-Compatible" content="Ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>宁阳组织部领导干部查询系统</title>
    <script src="__PUBLIC__/static/script/jquery.1.11.1.js"></script>
    <script src="__PUBLIC__/static/script/bootstrap.min.js"></script>
    <link href="__PUBLIC__/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/plugins/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/plugins/easyui1.5.3/themes/material/easyui.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/plugins/easyui1.5.3/themes/icon.css">
    <script type="text/javascript" src="__PUBLIC__/static/plugins/easyui1.5.3/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/plugins/easyui1.5.3/locale/easyui-lang-zh_CN.js"></script>
    
    <script src="__PUBLIC__/static/script/common.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/static/plugins/treeview/bootstrap-treeview.min.css">
    <script src="__PUBLIC__/static/plugins/treeview/bootstrap-treeview.min.js"></script>
  
</head> -->

<include file = "Layout/header" />

<body>
  <!--   <div id="header"></div> -->
    <!-- indexmain -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mainbox" id="mainbox">
                <!--menubegin-->
                <div class="datamenubox" id="leftmenu">
                     <div  id="showMenubtn"  class="showarrow">
                          <a href="javascript:void(0)" id="hideit" class="hideit"></a>
                          <a href="javascript:void(0)" id="showit" class="showit"></a>
                      </div>
                      <div class="zoombtn" id="zoombtn"></div>
                      <div class="scbtn"   id="scbtn" ></div>
                    <div class="menuhead">数据展示</div>
                    <!-- <div class="menuhead">人员类别</div> -->
                     <div class="mtypebox">
                        类别选择：
                    <select class="easyui-combobox" id = 'persontype'>
                        <volist name = 'key' id = 'v'>
                            <option value="{$v['zztypeid']}">{$v['zztypedc']}</option>
                        </volist>
                    </select>
                        

                    </div>
                    
                     <div id="tree"></div>
                </div>
                <!--menuend-->
                <!--mainboxbegin-->
                <div class="col-md-12 rights" id="right">
                    <!-- 位置导航 -->
                    <ol class="breadcrumb">
                         <li class="clearfix"><a href="#">首页</a></li>
                        <li class="active">信息展示</li>
                    </ol>
                    <!-- end 筛选 -->
                    <!-- toolbar -->
                    <div class="toolbars clearfix">
                       <!--  <div class="tbtnin">
                            <button class="add" id="abutton" onclick="tonewtable(0)"><i class="fa fa-plus-circle"></i>&nbsp;新增</button>
                            <button class="edit"  onclick="tonewtable(1)" ><i class="fa fa-pencil"></i>&nbsp;编辑</button>
                            <button class="del"  onclick="tonewtable(2)"><i class="fa fa-minus-circle"></i>&nbsp;删除</button>
                        </div>
                        <div class="txiala">
                            <span>姓名：</span>
                            <div class="dp"><input type="text" id = 'name'></div>
                            <div class="dp"><button onclick="search()">搜索</button></div>
                        </div> -->
                    </div>
                    <!-- contents -->
                    <div class="contents clearfix">
                        <!-- 姓名列表 -->
                        <div class="xingminglist">
                           
                            <ul>
                                <div id = 'personlist' style="height:600px;overflow:auto">
                                 <!--    <li class="on"><i class="fa fa-angle-right"></i>&nbsp;张三</li>
                                    <li class="clearfix">张三</li>
                                     <li class="clearfix">张三</li>
                                     <li class="clearfix">张三</li> -->
                                </div>
                            </ul>
                            
                        </div>
                             <!-- 详细信息 -->
                        <div class="xiangxixinxi">
                         <iframe id='myIframe' src="" style="width:100%;height:700px" frameborder="0" scrolling="yes"></iframe>
                         </div>
                     </div>   
                </div>
                <!--mainboxend-->
            </div>
        </div>
    </div>
    <!-- indexmain end -->
    <!-- footer -->
   <!--  <div id="footer"></div> -->


    <script>
        // 打开弹窗
        $(".h35").click(function() {
                $(this).next().slideToggle(200);
            })

      
        $('#tree').treeview({
              data: {$tree},         // data is not optional
              levels: 5,
              backColor:''
            });  

        $('#tree').on('nodeSelected',function(event, data) {
            // 事件代码...
             //console.log(data.b0100);
             //console.log(data.types);
            var html = '';
            persontype = $('#persontype').val();
            $.ajax({
                url:"{:U('User/getpersonlist')}",
                data:{b0100:data.b0100,persontype:persontype,types:data.types},
                success:function(res){
                    res = JSON.parse(res);
                    if(res.status == 0){
                         console.log(res.data);
                         for (var i = res.data.length - 1; i >= 0; i--) {
                             // html += ' <li class="clearfix" onclick = "personselect(\''+res.data[i].a0100+'\')"><i class="fa fa-angle-right"></i>'+res.data[i].a0101+'</li> ';
                             html += ' <li class="clearfix" data-id="' +res.data[i].a0100+ '"><i class="fa fa-angle-right"></i>'+res.data[i].a0101+'</li> ';
                         }
                        $("#personlist").html(html);
                        $("#personlist li").on('click',personselect);

                        url = "{:U('Date/bumen')}" + '/b0100/'+data.b0100+'/persontype/'+persontype +'/types/' +data.types;
                        //console.log(url);
                        $('#myIframe').attr('src', url);


                    }else{
                         url = "{:U('Date/bumen')}" + '/b0100/'+data.b0100+'/persontype/'+persontype +'/types/' +data.types;
                        //console.log(url);
                         $('#myIframe').attr('src', url);
                         $("#personlist").html('');
                    }
                }
            });

        });  

         function personselect(a0100){
            //alert($(this).attr('data-id'));
            var dataid=$(this).attr('data-id');
            $(this).addClass('on').siblings('li').removeClass('on');
            localStorage.setItem("a0100",dataid); 
            // 切换iframe
           
              url = "{:U('Date/personinfo')}" + '/a0100/' + dataid;
            $('#myIframe').attr('src', url);
    
        }


        //搜索跳转
         function search(){
            var html = '';
           name = $("#name").val();
            $.ajax({
                url:"{:U('User/getpersonlist')}",
                data:{name:name},
                success:function(res){
                    res = JSON.parse(res);
                    if(res.status == 0){
                         console.log(res.data);
                         for (var i = res.data.length - 1; i >= 0; i--) {
                             // html += ' <li class="clearfix" onclick = "personselect(\''+res.data[i].a0100+'\')"><i class="fa fa-angle-right"></i>'+res.data[i].a0101+'</li> ';
                             html += ' <li class="clearfix" data-id="' +res.data[i].a0100+ '"><i class="fa fa-angle-right"></i>'+res.data[i].a0101+'</li> ';
                         }
                        $("#personlist").html(html);
                        $("#personlist li").on('click',personselect);
                    }else{
                         $("#personlist").html('');
                    }
                }
            });
    
        }

        //跳转
        function tonewtable(id){
            a0100 = localStorage.getItem("a0100");
            localStorage.clear(); 
            switch (id)
            {
                case 0:
                    window.open("{:U('User/addnew')}") ;
                    break;
                case 1:
                    console.log(a0100);
                    if(a0100 == null){
                         $.messager.alert('Info', '请选择后操作', 'info');
                    }else{
                        window.open( "{:U('User/edit')}" + "/a0100/"+a0100) ;
                       　
                    }
                    
                    break;
                case 2:
                    console.log(a0100);
                    if(a0100 == null){
                         $.messager.alert('Info', '请选择后操作', 'info');
                    }else{

                        var msg = "确定想要删除吗？";
                        $.messager.confirm('确认', msg, function(r){    
                            if (r){    
                                $.ajax({
                                    type: 'post',
                                    url: "{:U('User/dellUser')}",
                                    data: {a0100: a0100},
                                    dataType: 'json',
                                    success: function(res) {
                                        console.log(res);
                                        if (res.status == 0) {
                                            $.messager.alert('提示','删除成功！')
                                            
                                        } else {
                                            $.messager.alert('提示','删除失败！')
                                        }
                                    }
                                })
                            }    
                        });
                       　
                    }

            }



        }         
    </script>
    

</body>

</html>