  <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/plugins/easyui1.5.3/themes/material/easyui.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/plugins/easyui1.5.3/themes/icon.css">
 
        <div class="row">
        <form action = "{:U('Role/add_user')}" >
            <div class="col-md-12">
            <div class="blank10"></div>

            <div class="row" id='org_parent'>
                    <div class="col-md-12">
                      <input class="easyui-textbox"  name = "username" style="width:400px" data-options="label:'登录名：', valueField:'id', textField:'text', required:true" value="{$user['username']}" >
                    </div>
                </div>
                
                <div class="blank10"></div>

                <div class="row" id='org_parent'>
                    <div class="col-md-12">
                        <input class="easyui-textbox" name="userinfo" id="org" style="width:400px" data-options="label:'姓名：', valueField:'id', textField:'text', required:true" value="{$user['userinfo']}" />
                    </div>
                </div>

                <div class="blank10"></div>

                <div class="row">
                    <div class="col-md-12">
                        <input class="easyui-textbox" name='usergroup' id='usergroup' style="width:400px" data-options="label:'组别：'">
                    </div>
                </div>
                 <div class="blank10"></div>
                 <div class="row">
                    <div class="col-md-12">
                        <input class="easyui-textbox" name='orderid' id='orderid' style="width:400px" data-options="label:'排序：',required:true">
                    </div>
                </div>
                 <div class="blank10"></div>
                  <div class="row">
                    <div class="col-md-12">
                        <span style="margin-left:10px;margin-right:15px"> 管理员：</span>
                        <select id="manager" class="easyui-combobox" name="manager" style="width:318px;">
                            <if condition = "$user['manager'] eq 1">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            <else/>
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </if>
                            
                        </select>
                    </div>
                </div>

                <div class="blank10"></div>
                 <div class="row">
                    <div class="col-md-12">
                        <input class="easyui-textbox" name='password' id='usergroup' style="width:400px" data-options="label:'密码：',required:true">
                    </div>
                </div>

                <div class="blank10"></div>
                <div class="btnin">
                    <button class="btn btn-info" id="submits">提交</button>&nbsp;
                    <button class="btn btn-default" id="cancel">取消</button>
                </div>
            </div>
            </form>
        </div>
