  <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/plugins/easyui1.5.3/themes/material/easyui.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/plugins/easyui1.5.3/themes/icon.css">
 
        <div class="row">
        <form action = "{:U('Role/save_search')}" >
            <div class="col-md-12">
            <div class="blank10"></div>
                <div class="row">
                    <div class="col-md-12">
                        <input class="easyui-textbox" name='mainid' id='mainid' style="width:400px" data-options="label:'ID：',required:true" value="{$user['mainid']}">
                    </div>
                </div>
                 <div class="blank10"></div>

                  <div class="row">
                    <div class="col-md-12">
                        <input class="easyui-textbox" name='tablename' id='tablename' style="width:400px" data-options="label:'表名：',required:true" value="{$user['tablename']}">
                    </div>
                </div>
                 <div class="blank10"></div>


                <div class="row" id='org_parent'>
                    <div class="col-md-12">
                      <input class="easyui-textbox"  name = "fielddes" style="width:400px" data-options="label:'字段名：', valueField:'id', textField:'text', required:true" value="{$user['fielddes']}" >
                    </div>
                </div>
               


                <div class="blank10"></div>


                <div class="row">
                    <div class="col-md-12">
                        <input class="easyui-textbox" name='fieldname' id='fieldname' style="width:400px" data-options="label:'字段：',required:true" value="{$user['fieldname']}">
                    </div>
                </div>
                 <div class="blank10"></div>

                 <div class="row">
                    <div class="col-md-12">
                        <input class="easyui-textbox" name='operation' id='operation' style="width:400px" data-options="label:'判断条件：',required:true" value="{$user['operation']}">
                    </div>
                </div>
                 <div class="blank10"></div>

                <!--  <div class="row">
                    <div class="col-md-12">
                        <input class="easyui-textbox" name='showvalue' id='showvalue' style="width:400px" data-options="label:'显示条件：',required:true" value="{$user['showvalue']}">
                    </div>
                </div> -->
                <div class="blank10"></div>

                <div class="row">
                    <div class="col-md-12">
                        <input class="easyui-textbox" name='fieldvalue' id='fieldvalue' style="width:400px" data-options="label:'条件值：',required:true" value="{$user['fieldvalue']}">
                    </div>
                </div>
                 <div class="blank10"></div>

                 <div class="row">
                    <div class="col-md-12">
                        <input class="easyui-textbox" name='showvalue' id='showvalue' style="width:400px" data-options="label:'显示值：',required:true" value="{$user['showvalue']}">
                    </div>
                </div>
                <div class="blank10"></div>

                
                

                <div class="blank10"></div>
                <div class="btnin">
                    <button class="btn btn-info" id="submits">提交</button>&nbsp;
                    <button class="btn btn-default" id="cancel">取消</button>
                </div>
            </div>
            </form>
        </div>
