 <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/style.css">
                   
                            <!-- 基本信息 -->
                            <div class="h35 clearfix">
                                <span class="tit">基本信息</span>
                                <span class="hid">隐藏&nbsp;<i class="fa fa-caret-down"></i></span>
                            </div>
                            <div class="xinxiitems clearfix">
                                <!-- 一列是一个ul -->
                                <ul class="base">
                                        <li class="clearfix">
                                            <span>机构名称:</span>
                                            <div class="xtext">
                                                {$info["b0105"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>机构简称:</span>
                                            <div class="xtext">
                                                {$info["b0107"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>组织机构代码:</span>
                                            <div class="xtext">
                                                {$info["b0111"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>机构级别:</span>
                                            <div class="xtext">
                                                {$info["b0113"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>单位性质类别:</span>
                                            <div class="xtext">
                                                {$info["b0115"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>单位所在政区:</span>
                                            <div class="xtext">
                                                {$info["b0125"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>内设机构类别:</span>
                                            <div class="xtext">
                                                {$info["d0130"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>法人单位标识:</span>
                                            <div class="xtext">
                                                {$info["d0107"]}
                                            </div>
                                        </li>
                                        </ul>
                                        <ul>
                                        <li class="clearfix">
                                            <span>内设领导职数:</span>
                                            <div class="xtext">
                                                {$info["b0164"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>内设正职领导:</span>
                                            <div class="xtext">
                                                {$info["b0166"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>内设副职领导:</span>
                                            <div class="xtext">
                                                {$info["b0168"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>内设正职非领导:</span>
                                            <div class="xtext">
                                                {$info["b0170"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>内设副职非领导:</span>
                                            <div class="xtext">
                                                {$info["b0172"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>正职领导:</span>
                                            <div class="xtext">
                                                {$info["b0174"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>副职领导:</span>
                                            <div class="xtext">
                                                {$info["b0176"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>正职非领导:</span>
                                            <div class="xtext">
                                                {$info["b0178"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>副职非领导:</span>
                                            <div class="xtext">
                                                {$info["b0180"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>行政编制:</span>
                                            <div class="xtext">
                                                {$info["b0182"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>参照公务员法管理事业编制数:</span>
                                            <div class="xtext">
                                                {$info["b0184"]}
                                            </div>
                                        </li>
                                        </ul>
                                        <ul>
                                        <li class="clearfix">
                                            <span>其他事业编制数:</span>
                                            <div class="xtext">
                                                {$info["b0186"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>单位隶属关系:</span>
                                            <div class="xtext">
                                                {$info["b0162"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>主管部门类别:</span>
                                            <div class="xtext">
                                                {$info["d0113"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>机构编码-2:</span>
                                            <div class="xtext">
                                                {$info["f0130"]}
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>区划属性:</span>
                                            <div class="xtext">
                                                {$info["f0101"]}
                                            </div>
                                        </li>
                                        <!--   <li class="clearfix">
                                            <span>部门ID:</span>
                                            <div class="xtext">
                                                {$info["b0100"]}
                                            </div>
                                        </li> -->
                                                               
                                 </ul>                                
                              
                            </div> 
                        
                                  

 