<include file = "Layout/header" />

<link rel="stylesheet" href="__PUBLIC__/static/plugins/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="__PUBLIC__/static/plugins/ztree/js/jquery.ztree.core.js"></script>
<style type="text/css">
    .ztree li span.button.pIcon01_ico_open{margin-right:2px; background: url(__PUBLIC__/static/images/org1.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
    .ztree li span.button.pIcon01_ico_close{margin-right:2px; background: url(__PUBLIC__/static/images/org1_close.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
    .ztree li span.button.pIcon01_ico_docu{margin-right:2px; background: url(__PUBLIC__/static/images/org1_close.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

    .ztree li span.button.icon01_ico_docu{margin-right:2px; background: url(__PUBLIC__/static/images/org2.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
</style>
<body>
    <!-- indexmain -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mainbox" id="mainbox">
                <!--menubegin-->
              <div class="datamenubox" id="leftmenu">
                      <div  id="showMenubtn"  class="showarrow">
                          <a href="javascript:void(0)" id="hideit" class="hideit"></a>
                          <a href="javascript:void(0)" id="showit" class="showit"></a>
                      </div>
                      <div class="zoombtn" id="zoombtn"></div>
                      <div class="scbtn"   id="scbtn" ></div>
                    <div class="menuhead">机构管理</div>
                     <div id="tree"></div>
                </div>
                <!--menuend-->
                <!--mainboxbegin-->
                <div class="col-md-12 rights" id="right">
                    <!-- 位置导航 -->
                    <ol class="breadcrumb">
                        <li><a href="#">首页</a></li>
                        <li class="active">机构维护</li>
                    </ol>
                    <!-- end 筛选 -->
                    <!-- toolbar -->
                    <div class="toolbar">
                         <button class="add" id="abutton" onclick="tonewtable(0)"><i class="fa fa-plus-circle"></i>&nbsp;新增</button>
                            <button class="edit"  onclick="tonewtable(1)" ><i class="fa fa-pencil"></i>&nbsp;编辑</button>
                            <button class="del"  onclick="tonewtable(2)"><i class="fa fa-minus-circle"></i>&nbsp;删除</button>
                    </div>
                    <!-- contents -->
                    <!-- <div class="contents">
                        <div class="treein" id="treein"></div>
                    </div> -->
                    <div class="content_wrap">
                        <div class="zTreeDemoBackground">
                            <ul id="treeDemo" class="ztree"></ul>
                        </div>
                    </div>
                     <iframe id='myIframe' src="" style="width:100%;height:700px" frameborder="0" scrolling="yes"></iframe>
                </div>
                <!--mainboxend-->
            </div>
        </div>
    </div>
    <!-- indexmain end -->

    <!-- modals -->
    <div id="w" class="easyui-window" title="添加/编辑机构" data-options="modal:true,closed:true" style="width:600px;height:300px;padding:15px;display:none;">
        <div class="row">
            <div class="col-md-12">
                <div class="row" id='org_parent'>
                    <div class="col-md-12">
                        <input class="easyui-combobox" name="org" id="org" style="width:400px" data-options="label:'上级机构：', valueField:'id', textField:'text', required:true"/>
                    </div>
                </div>
                <div class="blank10"></div>
                <div class="row">
                    <div class="col-md-12">
                        <input class="easyui-textbox" name='name' id='name' style="width:400px" data-options="label:'机构名称：',required:true">
                    </div>
                </div>
                <input type="hidden" id='org_id' value="0">
                <div class="blank10"></div>
                <div class="blank10"></div>
                <div class="btnin">
                    <button class="btn btn-info" id="submits">提交</button>&nbsp;
                    <button class="btn btn-default" id="cancel">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->


<script type="text/javascript">
      $('#tree').treeview({
              data: {$tree},         // data is not optional
              levels: 5,
              backColor:''
            });  

        $('#tree').on('nodeSelected',function(event, data) {
            // 事件代码...
             //console.log(data.b0100);
            var html = '';
            console.log(data.b0100);
            localStorage.setItem("b0100",data.b0100); 
            url = "{:U('Org/dwinfo')}" + '/b0100/' + data.b0100;
            $('#myIframe').attr('src', url);

        }); 


         //跳转
        function tonewtable(id){
            b0100 = localStorage.getItem("b0100");
            localStorage.clear(); 
            switch (id)
            {
                case 0:
                    window.open("{:U('Org/addnew')}") ;
                    break;
                case 1:
                   
                    if(b0100 == null){
                         $.messager.alert('Info', '请选择后操作', 'info');
                    }else{
                        window.open( "{:U('Org/edit')}" + "/b0100/"+b0100) ;
                       　
                    }
                    
                    break;
                case 2:
                    $.messager.confirm('提示','确定要删除吗?',function(r){
                        if(r){
                           $.ajax({
                                type: 'post',
                                url: "{:U('Org/del_org')}",
                                dataType:'json',
                                data: {b0100:b0100},
                                success: function(res) {
                                    console.log(res);
                                    if (res.status == 0) {
                                        $.messager.alert('Info', '删除成功！', 'info');
                                    }else{
                                        $.messager.alert('Info', '删除失败！', 'info');
                                    }
                                }
                            })

                        }  
                      }); 
                      break; 

            }
        }


</script>
<script>
    var orgId = 0
    var orgName = ''
    var node

    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick: onClick
        }
    };

    var zNodes =[];

    $(document).ready(function(){
        //refresh_tree()
    });

    function refresh_tree() {
        $.ajax({
            type: 'post',
            url: "{:U('Org/get_orgs')}",
            dataType: 'json',
            success: function(res) {
                if (res.status == 0) {
                    zNodes = res.data;
                
                    $.fn.zTree.init($("#treeDemo"), setting, zNodes);

                    // node.checked = true
                }
            }
        })
    }

    // 树节点点击事件
    function onClick(event, treeId, treeNode, clickFlag) {
        orgId = treeNode.id
        orgName = treeNode.name
        node = treeNode
    }

    // 打开弹窗
    $("#abutton").click(function() {
        // 取得一级机构列表
        $.ajax({
            type: 'post',
            url: "{:U('Org/get_org1')}",
            data: {},
            dataType: 'json',
            success: function(res) {
                if (res.status == 0) {
                    list = res.data
                    if (list.length != 0) {
                        $('#org').combobox('select', 0)
                        $('#org').combobox('loadData', res.data)
                    }
                    $('#w').window('open');
                } else {
                    $.messager.alert('警告','获取机构列表数据出错，请稍后再试！')
                }
            }
        });
    })

    // 保存新增机构
    $("#submits").click(function() {
        var _org = $('#org').val()
        var _name = $('#name').val()
        var _org_id = $('#org_id').val()

        if (_name == "" || _name == null) {
            $.messager.alert('警告','请填写机构名称！')
            return
        }

        $.ajax({
            type: 'post',
            url: "{:U('Org/save_org')}",
            data: {org: _org, name: _name, org_id: _org_id},
            dataType: 'json',
            success: function(res) {
                if (res.status == 0) {
                    $('#w').window('close')
                    $.messager.alert('提示','保存成功！')
                    refresh_tree()
                } else {
                    $.messager.alert('警告','保存失败！')
                }
            }
        });
    })

    // 编辑弹窗
    $("#ebutton").click(function() {
        if (orgId == 0) {
            $.messager.alert('警告','请选择要编辑的机构！')
            return
        }

        $('#org_id').val(orgId)
        $('#name').textbox('setValue', orgName)
        $('#org_parent').hide()
        $('#w').window('open')
    })

    // 关闭弹窗
    $("#cancel").click(function() {
        $('#w').window('close')
    })

    // 删除弹窗
    $("#delete").click(function() {
        if (orgId == 0) {
            $.messager.alert('警告','请选择要删除的机构！')
            return
        }

        var msg = "确定想要删除该机构（“" + orgName + "”）吗？";
        $.messager.confirm('确认', msg, function(r){    
            if (r){    
                $.ajax({
                    type: 'post',
                    url: "{:U('Org/del_org')}",
                    data: {id: orgId},
                    dataType: 'json',
                    success: function(res) {
                        console.log(res);
                        if (res.status == 0) {
                            $.messager.alert('提示','删除成功！')
                            refresh_tree()
                        } else {
                            $.messager.alert('提示','删除失败！')
                        }
                    }
                })
            }    
        });
    })
    </script>
</body>

</html>